<!DOCTYPE html>
<html>
<head>
    <title>Ready to Scan!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/cozmo/jsQR/master/dist/jsQR.js"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>QR Scanner</h1>
    </div>
    <div class="info">
        <p>
        Introducing our cutting-edge QR Scanner, a powerful tool designed to streamline your scanning experience with seamless efficiency. With its intuitive interface and lightning-fast detection capabilities, our QR Scanner empowers you to effortlessly decode QR codes, unlocking a world of convenience at your fingertips.
        Whether you're navigating modern digital transactions, accessing exclusive content, or swiftly gathering information, our QR Scanner simplifies the process, allowing you to scan with confidence and precision. Say goodbye to manual data entry and hello to instant access with our advanced scanning technology.
        Experience the future of scanning today with our QR Scanner. Fast, reliable, and user-friendly, it's the ultimate solution for all your scanning needs.
        </p>
    </div>
    <button id="return-btn">Return</button>
    <div id="scanner-container">
        <video id="video" playsinline autoplay></video> 
    </div>
    <script src="/static/scanner.js"></script>
</body>
</html>
